@font-face {
    font-family: "titulo";
    src: url(../storage/font/WorkSans-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




body{
    background: linear-gradient(to right,rgb(79, 85, 93),rgb(39, 51, 63));
}



.todito{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 100%;
}



h1{
    margin-top: 130px;
    margin-bottom: 50px;
    font-family: "titulo",sans-serif;
    color: white;
    font-size: 100px;
}

input {
    position: relative;
    color: white;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: black;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 350px;
    padding-left: 12px;
}

button {
    position: absolute;
    font-size: 20px;
    border-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 15px;
}