body {

    background-image: url(../IMG/mesaJuego.jpg);

    background-repeat: no-repeat;
    
    background-size: cover;
}

.tapete {
    position: absolute;
    top: 7rem;
    background-color: rgba(182, 173, 190, 0.534);
    width: 81vw;
    height: 85vh;
    left: 20rem;
    border-radius: 12rem;
    border: 15px solid yellow;
    box-shadow: 0 0 80px yellow;
}

#userUno {
    position: relative;
    left: 156rem;
    top: 4rem;
    height: 13rem;
    border-radius: 9rem;
}

#userDos {
    position: absolute;
    left: 7rem;
    top: 4rem;
    height: 13rem;
    border-radius: 9rem;
}

.cartasP {
    background-color: #0000005c;
    width: 60vw;
    height: 13vw;
    position: absolute;
    left: 23.5rem;
    top: 46rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47rem;
}

.cartasTiradas {
    display: flex;
}


a:active, a:focus {
    /*Encontré esto, lo que hace es quitar ese contorno azul*/
    /*Que aparece cuando se presiona un hipervinculo*/
    -webkit-tap-highlight-color: transparent !important;
}

.retornoMesa {
    display: flex;
    background-color: white;
    width: 175px;
    height: 175px;
    border-radius: 20rem;
    position: absolute;
    left: 3rem;
    top: 2rem;
}

#retornoMesa {
    width: 11rem;
    position: absolute;
}

.carta-en-mesa {
    width: 100px; /* Tamaño de la carta */
    height: 140px;
    border: 3px solid black;
    border-radius: 8px; /* Bordes redondeados */
}

#mensaje-ronda {
    position: absolute;
    font-size: 8rem;
    width: 90rem;
    left: 41rem;
}