body {

    background-image: url(../IMG/mesaJuego.jpg);

    background-repeat: no-repeat;
    
    background-size: cover;
}

.tapete {
    position: absolute;
    top: 7rem;
    background-color: rgba(182, 173, 190, 0.534);
    width: 81vw;
    height: 85vh;
    left: 20rem;
    border-radius: 12rem;
    border: 15px solid yellow;
    box-shadow: 0 0 80px yellow;
}

#userUno {
    position: relative;
    left: 156rem;
    top: 4rem;
    height: 13rem;
    border-radius: 9rem;
}

#userDos {
    position: absolute;
    left: 7rem;
    top: 4rem;
    height: 13rem;
    border-radius: 9rem;
}


a:active, a:focus {
    /*Encontré esto, lo que hace es quitar ese contorno azul*/
    /*Que aparece cuando se presiona un hipervinculo*/
    -webkit-tap-highlight-color: transparent !important;
}

.retornoMesa {
    display: flex;
    background-color: white;
    width: 175px;
    height: 175px;
    border-radius: 20rem;
    position: absolute;
    left: 3rem;
    top: 2rem;
}

#retornoMesa {
    width: 11rem;
    position: absolute;
}