body {

    background-image: url(../IMG/mesaJuego.jpg);

    background-repeat: no-repeat;
    
    background-size: cover;
}

.tapete {
    position: absolute;
    top: 7rem;
    background-color: rgba(182, 173, 190, 0.534);
    width: 81vw;
    height: 85vh;
    left: 20rem;
    border-radius: 12rem;
    border: 15px solid yellow;
    box-shadow: 0 0 80px yellow;
}