@import url("'https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap&#39;");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

.fondoPokemon {
    background: linear-gradient(180deg, rgb(38, 160, 241), rgb(255, 255, 255));
    width: 800px;
    height: 1000px;
}

.atari{ 
    position: absolute;
    padding-top: 150px;
    margin-left: 170px;
    width: 425px;
}

.pokemon {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 350px;
    left: 140px;
    background-color: blueviolet;
}

.inputAtari {
    position: absolute;
    bottom: 200px;
    left: 48px;
    width: 290px;
    height: 40px;
    border-radius: 5px;
}