
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

.fondoPokemon {
    background: linear-gradient(180deg, rgb(38, 160, 241), rgb(255, 255, 255));
    width: 800px;
    height: 1000px;
}

.atari{ 
    position: absolute;
    padding-top: 150px;
    margin-left: 170px;
    width: 425px;
}

.pokemon {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 309px;
    left: 168px;
}

#inputAtari {
    position: absolute;
    bottom: 176px;
    left: 48px;
    width: 290px;
    height: 40px;
    border-radius: 5px;
}

.bPrev{
    position: absolute;
    background-color: rgb(73, 73, 73);
    color: white;
    width: 152px;
    height: 47px;
    border-radius: 5px;
    bottom: 51px;
    right: 231px;
    font-size: 19px;
}

.bNext {
    position: absolute;
    background-color: rgb(73, 73, 73);
    color: white;
    width: 152px;
    height: 47px;
    border-radius: 5px;
    bottom: 51px;
    right: 72px;
    font-size: 19px;
}

.nombrePokemon {
    font-size: 30px;
    position: absolute;
    bottom: 258px;
    left: 127px;
}